:root {
  --main-color: #35cebe;
  --warming-color: #f4cd4a;
  --error-color: #fc4660;
  --success-color: #aee460;
  --grey-color: #888888;
  --ligth-grey-color: #cac8c8;
}


*{
  transition: all 1s ease-in-out;
}

#solicitude .solicitude-form, fieldset {
  margin-bottom: 0;
}

.message-hidden {
  opacity: 0;
  padding: 0px 0px;
  margin-bottom: 0px;
}

.discardCard {
  animation-name: discardCard;
  animation-duration: 1.5s;
}

@keyframes discardCard {
  to {
    margin-left: 2500px;
    margin-right: -2500px;
  }
}

.submitCard {
  animation-name: submitCard;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}

@keyframes submitCard {
  to {
    margin-top: -2500px;
  }
}

.messageSent {
  animation-name: messageSent;
  animation-duration: 0.5s;
}

@keyframes messageSent {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
