*{
  transition: all 1s ease-in-out;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 3.5rem !important;
  width: 80% !important;
  justify-content: center;
  display: flex;
}

.message-sent {
  margin-bottom: 0;
  opacity: 0;
}
